
:root {
    --color-overflow: #000000;
    --font-main: Inter;
     background: radial-gradient(circle at right, #e7adfb, #abe4ff,#fbebda);
}
/*Custom Font */
@font-face {

    font-family: 'spicy-sale';
    src: url(Fonts/spicy-sale.woff2) format("woff2"),
         url(Fonts/spicy-sale.woff) format("woff"),
         url(Fonts/spicy-sale.ttf) format("truetype");
}
 html {line-height: 1.15;
     -webkit-text-size-adjust: 100%;
 margin: 0;
}
body {
    font-family: 'spicy-sale.regular.ttf','Merriweather','Vivid','sans-serif';
    font-family: var(--font-main), sans-serif;
    max-width: 600px;
    margin: 0 auto;
}

/*----------------------HEADER/TITLE-----------------------*/
h1 { 
font-family: 'spicy-sale';
font-size: 40px;
color: darkblue;
text-transform: uppercase;
letter-spacing: 0.5px;
align-items: center;
  background-color: rgb(250, 212, 255);
    margin: 0;
line-height: 3rem;
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 16px;
    border-bottom: 4px solid white;
    vertical-align: baseline;
   box-sizing: border-box; 
     position: relative

}
/*header section*/
h2 {
    font-size: 26px;
  color:darkmagenta;
    font-weight: bold;
    font-style:normal;
    text-transform: uppercase;
    letter-spacing: .5px;
    line-height: 4.5rem;
    text-align: center;
    margin: 0;
    height: 220px;
    padding: 10px;
}


h2 { font-size: 24px;
    color:darkmagenta;
    font-weight: bold;
    font-style: normal;
    letter-spacing: -.2px;
    line-height: 3rem; 
}
    
h3 {
        font-size: 22px;
    color: darkblue;
    font-weight: normal;
    font-style: normal;
    letter-spacing: -.2px;
    line-height: 2rem;
 }
/*paragraph sections*/
p { font-size: 20px; 
    color: rgb(31, 72, 72);
    font-weight: normal;
   text-indent: relative;
    text-align: left;
    margin-left: auto;
    margin-right: 2rem;
    font-size: 16px;
   line-height: 2rem;
   letter-spacing: -.2px;

}
/*buttons */
.button-group {
    
.double-button {
 display: flex;
    justify-content: center;
    gap: none;
    margin-top: 20px;
}
    background-color: indigo;
    border-radius: 2px;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 4px;
    cursor: auto;   
}
