
:root {
    --font-main:'Helvetica';
    --font-title: 'spicy-sale';
     background: radial-gradient(circle at right, #e7adfb, #abe4ff,#fbebda);}

 /*Custom Font For main Header*/
@font-face {

    font-family: 'spicy-sale';
    src: url(Fonts/spicy-sale.woff2) format("woff2"),
         url(Fonts/spicy-sale.woff) format("woff"),
         url(Fonts/spicy-sale.ttf) format("truetype");
}
/*-------AllerBold header 2-----------*/
@font-face {
    font-family:'allerbold';
    src: url(Fonts/aller.bold-webfont.woff2) format("woff2"),
         url(Fonts/aller.bold-webfont.woff) format("woff"),
         url(Fonts/aller.bold.ttf) format("truetype");
}
html {line-height: 1.15;
     -webkit-text-size-adjust: 100%;
 margin: 0;
 
}
body {
    font-family: 'spicy-sale.regular.ttf','Merriweather','Vivid','sans-serif';
    font-family: var(--font-main), sans-serif;
    max-width: 600px;
    margin: 0 auto;
}
.nav-bar {
    display: flex;
    align-items:flex-end;
    justify-content:space-between;
}

/*-------------------HEADER/TITLE-----------------------*/
h1 { 
font-family: 'spicy-sale';
font-size: 40px;
color: darkblue;
text-transform: uppercase;
letter-spacing: 1.5px;
align-items: center;
  background-color: rgb(250, 212, 255);
    margin: 0;
line-height: 50px;
    padding: 20px;
    margin-bottom: 4px;
    border: 1px solid rgb(106, 16, 142);
    border-radius: 16px;
    vertical-align: baseline;
    box-shadow: white 0 0 10px;
   box-sizing: border-box; 
     position: relative

}
/*header section*/
h2 {
    font-family: 'Allerbold';
    font-size: 29px;
  color:darkmagenta;
    font-weight:bolder;
    font-style:normal;
    text-transform: uppercase;
    letter-spacing: .5px;
    line-height: 30px;
    text-align: center;
    margin-top: 20px;
     height: 50px; 
    padding: 5px;
}
/*Header 3 section*/ 
h3 {
    font-family: 'Allerbold';
    font-size: 22px;
    color: darkblue;
    font-weight: normal;
    font-style: normal;
    letter-spacing: -.2px;
    line-height: 2rem;
    text-align: left;
    margin-left: 16px;
 }
/*paragraph sections*/
p { font-size: 20px; 
    font-family:'Helvetica';
    color: rgb(31, 72, 72);
    font-weight: normal;
   text-indent: relative;
    text-align: middle;
    margin-left: 20px;
    
    margin-right: 2rem;
    font-size: 16px;
   line-height: 2rem;
   letter-spacing: -.2px;
}
ul {
    font-family:'Allerbold';
}
/* -----HERO SECTION FOR HOME PAGE-----*/
.hero {
    height: 100px;
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: radial-gradient(circle at top left, #e7adfb40,transparent 60%),
    radial-gradient(circle at bottom right, #abe4ff50,transparent 70%),
    radial-gradient(circle at top right, #fbebda40,transparent 70%);
}

/*Rounded button*/
.hero-button {
    display: block;
    width: 50%;
    align-items:flex-start;
    padding: 1rem 0;
    background:radial-gradient(circle at top left, #e7adfb, #083986,#f765b7);
    color: white;
    text-decoration: none;
    border-radius: 20px;
    font-family: 'allerbold';
    font-size: 1.1rem;
    text-align: center;
    transition: transform 0.15s ease-in,opacity 0.2s ease-out;
}
/*Skills images */
.illustrator,
.figma,
.google,
.vscode,
.canva
{
margin: 10px;
border-radius: 25px;
height: 200px;
width: 200px;
object-fit: contain;
display: block;
position: relative;
margin-left: 90px;

}
.photoshop
{ 
margin: 10px;
border-radius: 40px;
height: 200px;
width: 200px;
object-fit: contain;
display: block;
position: relative;
margin-top: 22px;
margin-left: 90px;
margin-bottom: auto;
}
.figma
{
   margin: 1px;
border-radius: 40px;
height: 250px;
width: 220px;
object-fit: contain;
display: block;
position: relative;
margin-left: 80px;
}

.seniorportrait,
.ocean
 {
 margin: 10px;
border-radius: 25px;
height: 200px;
width: 200px;
object-fit: contain;
display: block;
position: relative;
margin-left: 90px;
}
.vscode
{
margin: 10px;
border-radius: 40px;
height: 175px;
width: 175px;
object-fit: contain;
display: block;
position: relative;
margin-top: 22px;
margin-left: 95px;
margin-bottom: auto;
}

@media (max-width: 600px) {
    body {
        padding: 10px;
        align-items: flex-start;
    
    }
    
}

/*-----video frame------*/
.video-container {
  width: 50%;
  margin: 20px auto;
}
.video-container video {
    width: 100%;
    height: auto;
}